.login {
    height: calc(100vh - 70px);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login:before{
    background-position: top;
    position: absolute;
    background: url('./images/login-background.jpg') center center / cover no-repeat;
    content: "";
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
}

.login__container {
    max-width: 650px;
    padding: 80px 40px;
    width: 70%;
    display: flex;
    flex-direction: column;
    
}


.login__container a {
    width: 100%;
    background-color: #0063e5;
    font-weight: bold;
    text-align: center;
    padding: 14px 0;
    color: #f9f9f9;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
    transition: all 250ms;
    letter-spacing: 1.5px;
    margin-top: 8px;
    margin-bottom: 12px;
}

.login__container a:hover {
    background-color: #0483ee;
}

.login__container p {
    font-size: 11px;
    letter-spacing: 1.2px;
    text-align: center;
    line-height: 1.5;
    margin-bottom: 10px;
}